{% extends 'base.html' %}

{% load static %}

{% block titulo %}- Jugar{% endblock  %}

{% block load_scr %}
<link href={% static 'css/example.css' %} rel="stylesheet">
{% endblock  %}

{% block content %}
<div class="container">
{% for i,j in juego.items %}
    <li>{{i.pk}} - ¿{{i.pregunta}}? - {{i.clasificacion}} - {{i.autor}} - {{i.fecha_creacion}} - {{i.fecha_modificacion}}</li>
    {% for r in j%}
        <p>{{r.pk}} - {{r.respuesta}} - {{r.es_correcta}}</p>
    {% endfor %}
{% endfor %}
</div>
{% endblock  %}

{% block load_js %}
<script src={% static 'js/example.js' %} ></script>
{% endblock  %}