{% extends 'base.html' %}

{% load static %}

{% block titulo %}- Jugar{% endblock  %}

{% block load_scr %}
<link href={% static 'css/example.css' %} rel="stylesheet">
{% endblock  %}

{% block content %}
<script src={% static 'js/mainGame.js' %} ></script>
<div class="container">
    <form method="POST" action="{% url 'jugar' %}">
        {% csrf_token %}
        <button type="button" id="prueba">PRUEBA</button>
        <div class="mi-separador inicio">
            Presentacion aqui
        </div>
        {% for i,j in juego.items %}
        <div class="mi-separador pregunta" id="{{j.0}}">
            <li>{{i.pk}} - ¿{{i.pregunta}}? - {{i.clasificacion}} - {{i.autor}} - {{i.fecha_creacion}} - {{i.fecha_modificacion}}</li>
            {% for r in j%}
            <div class="form-check">
                <input class="form-check-input" type="radio" name="RadioRespuesta_{{j.0}}" id="RespuestaInput_{{r.pk}}" value="{{r.pk}}" >
                <label class="form-check-label" for="RespuestaInput_{{r.pk}}">{{r.pk}} - {{r.respuesta}} - {{r.es_correcta}}</label>
            </div>
            {% endfor %}
            <input type="hidden" name="formularioUsuario" value="{{j.0}}"/>
            <button type="button" class="next">Siguiente</button>
        </div>
        {% endfor %}
        <div class="mi-separador final">
            <div>
                Cierre y boton de enviar cuestionario
            </div>
            <div class="text-center">
                <button class="w-25 btn btn-lg btn-success" type="submit">Finalizar cuestionario</button>
            </div>
        </div>
    </form>
</div>
{% endblock  %}

{% block load_js %}
<script src={% static 'js/mainGame.js' %} ></script>
{% endblock  %}