{% extends 'base.html' %}

{% load static %}

{% block titulo %}- Partida{% endblock %}

{% block meta %}
<meta property="og:url"           content="https://www.your-domain.com/your-page.html" />
<meta property="og:type"          content="website" />
<meta property="og:title"         content="Quiz Provincializacion Chaco" />
<meta property="og:description"   content="Proyecto del grupo 14 Comisión 3 del Informatorio 2021" />
<meta property="og:image"         content="{% static 'img/logo_img.png' %}" />
{% endblock  %}

{% block content %}
<div id="fb-root"></div>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v11.0" nonce="Of6b2Oi1"></script>

<div class="container">
    <div class="col-sm-10 col-md-9 py-4">
        <h1>Partida:</h2>
        <p>{{partida.id}}</p>
        <li class="list-group-item"><b>Usuario: {{partida.usuario}}</b></li>
        <li class="list-group-item"><b>Puntaje: {{partida.puntuacion}}</b></li>
        <li class="list-group-item"><b>Fecha: {{partida.fecha}}</b></li>
    </div>
    {% if propietario %}
    <!--Boton de compartir *Facebook* -->
    <div class="fb-share-button" data-href="{{ request.build_absolute_uri }}" data-layout="button" data-size="large">
    {% endif %}

</div>

{% endblock %}