{% load static %}
<div class="offcanvas offcanvas-start d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="menuAdmin_oculto" aria-labelledby="menuAdmin_ocultoLabel">
  <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark">
  <div class="offcanvas-header">
    <p class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <img class="me-2" src={% static 'img/w_logo.png' %} alt="" width="35" height="35">
      <span class="fs-4"><b>Administrador</b></span>
    </p>
    <div class="text-right">
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    </div>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href={% url 'mi_useradmin' 'usr' %} class="nav-link text-white" aria-current="page">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
          Administrar usuarios
        </a>
      </li>
      <li class="nav-item">
        <a href={% url 'mi_useradmin' 'prg' %} class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
          Administrar preguntas
        </a>
      </li>
      <li class="nav-item">
        <a href={% url 'mi_useradmin' 'act' %} class="nav-link text-white">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
          Administrar actividad
        </a>
      </li>
    </ul>
    <hr>
  </div>
</div>