{% load static %}
<header class="sticky-top">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
      <a href={% url 'home'%} class="navbar-brand d-flex align-items-center" style="margin-right: 0px">
        <img class="me-2" src={% static 'img/w_logo.png' %} alt="" width="35" height="35">
        <div class="navbar-collapse collapse">
          <strong><b>Proyecto Informatorio 2021</b></strong>
        </div>
      </a>
      <div class="navbar-collapse collapse" id="navbarHeader">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <!-- la href puede ser con "add-ejemplo" o cargarlo -->
          <li class="nav-link"><a href={% url 'nuevo-juego' %} class="text-white">Jugar</a></li>
          <li class="nav-link"><a href={% url 'buscar-partida' %} class="text-white">Record de partidas</a></li>
          <li class="nav-link"><a href={% url 'nosotros' %} class="text-white">Acerca de nosotros</a></li>
        </ul>
        <div class="nav-link p-0 px-2">
        <div class="form-check form-switch">
              <input type="checkbox" class="form-check-input" id="darkSwitch">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF"><path d="M0 0h24v24H0z" fill="none"/><path d="M20 8.69V4h-4.69L12 .69 8.69 4H4v4.69L.69 12 4 15.31V20h4.69L12 23.31 15.31 20H20v-4.69L23.31 12 20 8.69zM12 18c-.89 0-1.74-.2-2.5-.55C11.56 16.5 13 14.42 13 12s-1.44-4.5-3.5-5.45C10.26 6.2 11.11 6 12 6c3.31 0 6 2.69 6 6s-2.69 6-6 6z"/></svg>
            </div>
            <script src={% static 'js/dark-mode-switch.min.js' %}></script>
      </div>
      </div>
        <!-- un 'if' para ver si ya tiene sesion iniciada -->
      {% if user.is_authenticated %}
      <li class="nav-link dropdown p-0">
        <a href="#" class="nav-link dropdown-toggle active" id="navbarDropdownUserInfo" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z"/></svg>
          <b>{{user.username}}</b>
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownUserInfo">
          <li><a class="dropdown-item" href={% url 'ver_user' user.id %} >Perfil</a></li>
          <li><a class="dropdown-item" href={% url 'logout'%}>Cerrar sesión</a></li>
        </ul>
      </li>
      {% else %}
      <li class="nav-link p-0"><a href={% url 'login'%} class="text-white small">Iniciar sesion</a><a> / </a><a href={% url 'register'%} class="btn btn-success btn-sm"><b>Registrarse</b></a></li>
      {% endif %}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon small"></span>
      </button>
    </div>
  </nav>
</header>