{% extends 'base.html' %}

{% load static %}

{% block titulo %}- Admin{% endblock %}

{% block load_scr %}
<!-- Jquery 3.6.0 ¡SIEMPRE CARGAR PRIMERO! -->
<script src={% static 'js/jquery-3.6.0.js' %}></script>

<!-- Cargar el estilo de la tabla-->
<link href={% static 'css/theme.bootstrap_4.css' %} rel="stylesheet">

<!-- Cargar el codigo js de jquery - tablesorter -->
<script src={% static 'js/jquery.tablesorter.js' %}></script>
<script src={% static 'js/jquery.tablesorter.widgets.js' %}></script>

<!-- Cargar el codigo js de jquery - tablepager -->
<link href={% static 'css/jquery.tablesorter.pager.css' %} rel="stylesheet">
<style>
	.tablesorter-pager .btn-group-sm .btn {
		font-size: 1.2em;
	}
</style>
<script src={% static 'js/jquery.tablesorter.pager.js' %}></script>

<!-- El src principal para el tablesorter-->
<script src={% static 'js/mi_tablesorter.js' %}></script>

{% endblock  %}

{% block content %}
<div class="container">
  <title></title>
  <h1>Lista de usuarios</h2>
  <p>Los usuarios con permisos adminsitrador pueden ver todos los perfiles (públicos o privados)</p>
  <p>El "superadmin" puede brindar o revocar permisos administrador desde el perfil de cada usuario</p>
  <table class="table table-dark table-bordered table-hover table-responsive">
    <thead class="thead-dark text-center"> <!-- add class="thead-light" for a light header -->
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th class="filter-select filter-exact" data-placeholder="Todos">Perfil</th>
        <th>Email</th>
        <th class="filter-select filter-exact" data-placeholder="Todos">Tipo</th>
        <th class="sorter filter-false">Fecha de creación</th></tr>
    </thead>
    <tfoot class="text-center">
      <tr>
        <th colspan="7" class="ts-pager">
          <div class="form-inline">
            <div class="btn-group btn-group-sm mx-1" role="group">
              <button type="button" class="btn btn-secondary first" title="first">|&laquo;</button>
              <button type="button" class="btn btn-secondary prev" title="previous">&laquo;</button>
            </div>
            <select class="form-control-sm custom-select px-4 mx-1 pagenum" title="N° de página"></select>
            <div class="btn-group btn-group-sm mx-1" role="group">
              <button type="button" class="btn btn-secondary next" title="next">&raquo;</button>
              <button type="button" class="btn btn-secondary last" title="last">&raquo;|</button>
            </div>
            <p class="float-end">
              <a>Cant.</a>
              <select class="form-control-sm custom-select px-1 pagesize" title="Seleccione el tamaño de página">
                <option selected="selected" value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="all">Todos</option>
              </select>
            </p>
          </div>
        </th>
      </tr>
    </tfoot>
    <tbody>
      {% for usuario, tipo in users.items %}
      <tr>
      <td>{{usuario.pk}}</td>
      <td><a href= {% url 'ver_user' usuario.pk %}>{{usuario}}</a></td>
      <td>{% if usuario.perfilusuario.visibilidad_perfil %}<small>Público</small> <span class="badge p-1 bg-danger rounded-circle"><span class="visually-hidden">Active</span></span>
      {% else %}<small class="text-muted">Privado</small> <span class="badge p-1 bg-secondary rounded-circle"><span class="visually-hidden">Inactive</span></span>{% endif %}</td>
      <td>{{usuario.email}}</td>
      <td>{% if tipo %}<b>Admin</b>{% else %}<small>User</small>{% endif %}</td>
      <td>{{usuario.date_joined}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock  %}