{% extends 'base.html' %}

{% load static %}

{% block titulo %}- Admin{% endblock %}

{% block load_scr %}

{% endblock  %}

{% block content %}
<style>
    label.mi-label{
        color:#151e26 !important}
</style>
<div class="container">
    <h2>Editar pregunta:</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="d-flex">
            <div class="form-floating input-group mb-3 p-2">
                <input type="text" class="form-control" name="pregunta" value="{{pregunta}}" placeholder="Pregunta aquí" required>
                <label for="floatingInput">ID_Pregunta {{pregunta.pk}}</label>
                <span class="input-group-text" id="basic-addon3"> ? </span>
            </div>
            <div class="p-2">
                <select class="form-select form-select-lg mb-3" name="preguntaSelect" aria-label="Default select example">
                    <option value="CULTURA" {% if pregunta.clasificacion == 'CULTURA' %}selected{% endif %}>
                        Cultura y arte</option>
                    <option value="HISTORIA" {% if pregunta.clasificacion == 'HISTORIA' %}selected{% endif %}>
                        Historia</option>
                    <option value="GEOGRAFIA" {% if pregunta.clasificacion == 'GEOGRAFIA' %}selected{% endif %}>
                        Geografía</option>
                    <option value="ECONOMIA" {% if pregunta.clasificacion == 'ECONOMIA' %}selected{% endif %}>
                        Economía</option>
                    <option value="CIENCIA" {% if pregunta.clasificacion == 'CIENCIA' %}selected{% endif %}>
                        Ciencia y Educación</option>
                    <option value="ENTRETENIMIENTO" {% if pregunta.clasificacion == 'ENTRETENIMIENTO' %}selected{% endif %}>
                        Entretenimiento</option>
                </select>
            </div>
        </div>
        
        <h4>Respuestas</h4>
        {% for respuesta in respuestas%}
        <div class="form-floating d-flex">
            <input type="text" class="form-control" name="respuesta" value="{{respuesta}}" placeholder="Respuesta aquí" required>
            <label for="floatingInput">ID_Respuesta {{respuesta.pk}}</label>
            <div class="p-2">
                <div>
                    <a href={% url 'editar' 'delr' respuesta.pk %} class="w-35 btn btn-lg btn-danger p-0 py-0"><small>Borrar</small></a>
                </div>
                <div class="form-check form-check-inline form-switch">
                    <input class="form-check-input" type="checkbox" name="respuestaBool_{{respuesta.pk}}" id="bool-verdadero-{{respuesta.pk}}" value="Verdadero" {% if respuesta.es_correcta %}checked{% endif %}>
                    <label class="form-check-label mi-label" for="bool-verdadero-{{respuesta.pk}}" id="bool-label-{{respuesta.pk}}" style="position: absolute;">Verdadero</label>
                </div>
            </div>
        </div>
        <script>
            function initialCheck() {
                const text = document.getElementById("bool-label-{{respuesta.pk}}");
                if (document.getElementById("bool-verdadero-{{respuesta.pk}}").checked) {
                    text.textContent = 'Verdadero';
                    text.classList.remove('text-muted');
                } else {
                    text.textContent = 'Falso';
                    text.classList.add('text-muted');
                }
                console.log("{{respuesta.pk}}");
            }
            function clickCheck() {
                const text = document.getElementById("bool-label-{{respuesta.pk}}");
                if (text.textContent === 'Verdadero') {
                    text.textContent = 'Falso';
                    text.classList.add('text-muted');
                } else {
                    text.textContent = 'Verdadero';
                    text.classList.remove('text-muted');
                }
                console.log(this);
            }

            initialCheck();
            document.getElementById("bool-verdadero-{{respuesta.pk}}").addEventListener('click', clickCheck);

        </script>
        {% endfor %}
        <button class="w-100 btn btn-lg btn-primary" type="submit">Aplicar</button>
    </form>
    <a href={% url 'editar' 'newr' pregunta.pk %} class="w-100 btn btn-lg btn-success">Agregar respuesta</a>
    <div class="p-2"></div>
    <a href={% url 'editar' 'del' pregunta.pk %} class="w-100 btn btn-lg btn-danger">Borrar pregunta</a>
</div>
{% endblock  %}