{% extends 'base.html' %}

{% load static %}

{% block titulo %}- Admin{% endblock %}

{% block load_scr %}

{% endblock  %}

{% block content %}

<div class="container">
    <h2>Editar pregunta:</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="d-flex">
            <div class="form-floating input-group mb-3 p-2">
                <input type="text" class="form-control" name="pregunta" value="{{pregunta}}" placeholder="Pregunta aquí" required>
                <label for="floatingInput">ID_Pregunta {{pregunta.pk}}</label>
                <span class="input-group-text" id="basic-addon3"> ? </span>
            </div>
            <div class="p-2">
                <select class="form-select form-select-lg mb-3" name="preguntaSelect" aria-label="Default select example">
                    <option value="Geografía" {% if pregunta.clasificacion == 'Geografía' %}selected{% endif %}>
                        Geografía</option>
                    <option value="Historia" {% if pregunta.clasificacion == 'Historia' %}selected{% endif %}>
                        Historia</option>
                    <option value="Politica" {% if pregunta.clasificacion == 'Politica' %}selected{% endif %}>
                        Politica</option>
                    <option value="Social" {% if pregunta.clasificacion == 'Social' %}selected{% endif %}>
                        Social</option>
                    <option value="Cultural" {% if pregunta.clasificacion == 'Cultural' %}selected{% endif %}>
                        Cultural</option>
                </select>
            </div>
        </div>
        
        <h4>Respuestas</h4>
        {% for respuesta in respuestas%}
        <div class="form-floating d-flex">
        <input type="text" class="form-control" name="respuesta" value="{{respuesta}}" placeholder="Respuesta aquí" required>
        <label for="floatingInput">ID_Respuesta {{respuesta.pk}}</label>
        <div class="p-2">
            <div class="form-check form-check-inline form-switch">
                <input class="form-check-input" type="checkbox" name="respuestaBool_{{respuesta.pk}}" id="bool-verdadero-{{respuesta.pk}}" value="Verdadero" {% if respuesta.es_correcta %}checked{% endif %}>
                <label class="form-check-label" for="bool-verdadero-{{respuesta.pk}}" id="bool-label-{{respuesta.pk}}" style="position: absolute;">Verdadero</label>
            </div>
        </div>
        </div>
        <script>
            function initialCheck() {
                const text = document.getElementById("bool-label-{{respuesta.pk}}");
                if (document.getElementById("bool-verdadero-{{respuesta.pk}}").checked) {
                    text.textContent = 'Verdadero';
                    text.classList.remove('text-muted');
                } else {
                    text.textContent = 'Falso';
                    text.classList.add('text-muted');
                }
                console.log("{{respuesta.pk}}");
            }
            function clickCheck() {
                const text = document.getElementById("bool-label-{{respuesta.pk}}");
                if (text.textContent === 'Verdadero') {
                    text.textContent = 'Falso';
                    text.classList.add('text-muted');
                } else {
                    text.textContent = 'Verdadero';
                    text.classList.remove('text-muted');
                }
                console.log(this);
            }

            initialCheck();
            document.getElementById("bool-verdadero-{{respuesta.pk}}").addEventListener('click', clickCheck);

        </script>
        {% endfor %}
        <button class="w-100 btn btn-lg btn-primary" type="submit">Aplicar</button>
    </form>
    <a href={% url 'editar' 'del' pregunta.pk %} class="w-100 btn btn-lg btn-primary" type="submit">Borrar</a>
</div>
{% endblock  %}