{% load static %}
<html lang="es" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> INFORMATORIO 2021  {% block titulo %} {% endblock  %}</title>

    <!--INFO PARA COMPARTIR PAGINA-->
    <meta property="og:url"           content="https://grupo14-informatorio.herokuapp.com/" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Quiz Provincializacion Chaco" />
    <meta property="og:description"   content="Página web propuesta en la cursada del Informatorio 2021. Provincia del Chaco" />
    <meta property="og:image"         content="{% static 'img/logo_img.png' %}" />
    
        <!-- Bootstrap core CSS - pasa a ser el archivo local en /static -->
    <link href={% static 'css/bootstrap.min.css' %} rel="stylesheet">
    <link rel="stylesheet" href={% static 'css/dark-mode.css' %}>
        <!-- Se llama a la configuracion "css/main.css"-->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'css/sidebars.css' %}" rel="stylesheet">

    {% include 'partials/_favicon.html' %}

    {% block load_scr %}

    {% endblock  %}

  </head>
  <body class="d-flex flex-column h-100">
    
      <!-- Sacar el 'header' ya que estará en todas las paginas como algo comun y llamarlo como un codigo separado -->
    {% include 'partials/_header.html' %}

    <!-- El MAIN tendrá un blocke cuyo contenido se dará por el servidor de django -->
    <main class="flex-shrink-0">
      {% if perms.authusuario.es_usuario_admin %}
        {% include 'partials/_adminsidebar.html' %}
      {% endif %}

      {% block content %}

      {% endblock %}
    </main>

    <!--El 'footer'-->
    {% include 'partials/_footer.html' %}

    <!-- PARA LLAMAR A LOS SCRIPTS JS EN /JS -->  
    
    <script src="{% static 'js/main.js' %}" ></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}" ></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script> -->
    <script src="{% static 'js/sidebars.js' %}" ></script>
          
    {% block load_js %}

    {% endblock %}
          
  </body>
</html>
