{% load static %}
<html lang="es" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> INFORMATORIO 2021  {% block titulo %} {% endblock  %}</title>
    {% block meta %}
    {% endblock  %}
    
        <!-- Bootstrap core CSS - pasa a ser el archivo local en /static -->
    <link href={% static 'css/bootstrap.min.css' %} rel="stylesheet">
        <!-- Se llama a la configuracion "css/main.css"-->
    <link href={% static 'css/main.css' %} rel="stylesheet">
    <link href={% static 'css/sidebars.css' %} rel="stylesheet">

    {% include 'partials/_favicon.html' %}

    {% block load_scr %}

    {% endblock  %}

  </head>
  <body class="d-flex flex-column h-100">
    
      <!-- Sacar el 'header' ya que estará en todas las paginas como algo comun y llamarlo como un codigo separado -->
    {% include 'partials/_header.html' %}

    <!-- El MAIN tendrá un blocke cuyo contenido se dará por el servidor de django -->
    <main class="flex-shrink-0">
      {% if perms.authusuario.es_usuario_admin %}
        {% include 'partials/_adminsidebar.html' %}
      {% endif %}

      {% block content %}

      {% endblock %}
    </main>

    <!--El 'footer'-->
    {% include 'partials/_footer.html' %}

    <!-- PARA LLAMAR A LOS SCRIPTS JS EN /JS -->
        <script src={% static 'js/main.js' %} ></script>
        <script src={% static 'js/bootstrap.bundle.min.js' %} ></script>
        <script src={% static 'js/sidebars.js' %} ></script>
        {% block load_js %}
        {% endblock %}
          
  </body>
</html>
