{% extends 'base.html' %}
{% load static %}
{% block titulo %}- Editar perfil{% endblock %}

{% block load_scr %}
<link href="{% static 'css/profile.css' %}" rel="stylesheet">
{% endblock  %}

{% block content %}

<div class="container border border-white border-2 color-profile-2">
    <div class="row" >
        <div class="col-sm-9">
            {% include 'partials/_msgalert.html' %}
            <h3>Perfil del usuario: {{user.username}} - {{user.email}}</h3>
            <hr>
            <form method="POST" action="{% url 'profile' %}">
              {% csrf_token %}
                  <div class="row mb-3">
                    <label for="name" class="col-sm-3 col-form-label">Nombre/s:</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" name="{{form.nombre.html_name }}" id="name" value="{{user.first_name}}" required>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="lastname" class="col-sm-3 col-form-label">Apellido/s:</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" name="{{form.apellido.html_name}}" id="lastname" value="{{user.last_name}}" required>
                    </div>
                  </div>
                <div class="row mb-3">
                    <label for="email" class="col-sm-3 col-form-label">Email:</label>
                    <div class="col-sm-4">
                      <input type="email" class="form-control" name="{{form.correo.html_name}}" id="email" value="{{user.email}}" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="idprovincia" class="col-sm-3 col-form-label">Provincia:</label>
                    <div class="col-sm-4">
                        <select id="idprovincia" class="form-select" name="{{form.provincia.html_name}}">
                            {% if user.perfilusuario.provincia %}
                                <option selected>{{user.perfilusuario.provincia}}</option>
                            {% else %}
                                <option selected>Seleccionar</option>
                            {% endif %}

                            {% for data in form.provincia %}
                                {{data}}
                            {% endfor %}
                        </select>
<!--                        {{form.provincia}}-->
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="localidad" class="col-sm-3 col-form-label">Localidad:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="{{form.localidad.html_name}}" id="localidad" value="{{user.perfilusuario.localidad}}" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="idvisibilidad" class="col-sm-3 col-form-label">Visibilidad:</label>
                    <div class="col-sm-4">
                        <div class="form-check form-check-inline form-switch mt-2">
                            <input type="checkbox" class="form-check-input" name="{{form.visibilidad.html_name}}" value="Visible" id='idvisibilidad' {% if user.perfilusuario.visibilidad_perfil %}checked{% endif %}>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-4">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
                <!--input para la URL de la imágen-->
                <input type="hidden" id="image" name="{{form.image.html_name}}" value="{{user.perfilusuario.image}}"/>
            </form>
        </div>
        <div class="col-sm-3 p-5">
            <div class="row mb-3">
                <img src="{% static user.perfilusuario.image %}" name="imagen" id="imagen" class="img-thumbnail rounded float-end" width="200" height="200" alt="">
                <button type="button" id="btnClickMe2" class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Elegir Imagen
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Seleccione Imagen de Usuario</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body p-2">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-sm">
                    <button class="btn btn-outline-light img-thumbnail rounded float-end m-1" id="imagen1">
                        <img src="{% static 'img/user.png' %}" width="80" height="80" class="mi-imagen" data-id="1"></button>
                    <button class="btn btn-outline-light img-thumbnail rounded float-end m-1" id="imagen2">
                        <img src="{% static 'img/moto.png' %}" width="80" height="80" class="mi-imagen" data-id="2"></button>
                    <button class="btn btn-outline-light img-thumbnail rounded float-end m-1" id="imagen3">
                        <img src="{% static 'img/auto.png' %}" width="80" height="80" class="mi-imagen" data-id="3"></button>
                    <button class="btn btn-outline-light img-thumbnail rounded float-end m-1" id="imagen4">
                        <img src="{% static 'img/pic/profile1.png' %}" width="80" height="80" class="mi-imagen" data-id="4"></button>
                  </div>
                </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="btnClickMe" >Guardar</button>
          </div>
        </div>
      </div>
    </div>


{% endblock %}

{% block load_js %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{% static 'js/profile.js' %}"></script>
{% endblock %}