{% extends 'base.html' %}
{% block titulo %}- Editar perfil{% endblock %}
{% block content %}

<div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-3 py-4">
        <div class="col">
            <h1>Perfil del usuario: {{usuario.username}} - {{usuario.email}}</h2>
            {% if visibilidad %}
            <p>Soy visible</p>
            {% else %}
            <p>Soy invisible (algo asi)</p>
            {% endif %}
        </div>
        <div class="col">
            <div>{% include 'partials/_tableresults.html' %}</div>
        </div>
    </div>
</div>

{% endblock %}